node_modules
*.iml
.idea
lib/*
!lib/*.bundle.js
!lib/*.bundle.js.map
/secret.properties
/service.json
/logs
*.zip
*.tar
*.tar.gz
*.tgz
*.log
/data
/data-sample
/service.json.sample
/webpack.backend.config.js